body{
    background-color: #412567;
}



/* .navbar{
    display: flex;
    justify-content: space-around;
    gap: 200px;
    align-items: center;
    margin:auto;
    max-width: 1600px;
    background-color: #412567;
} */

/* --- Global & Desktop Fixes --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    max-width: 1600px;
    margin: auto;
    color: white;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 576px) {
    .menu-toggle {
        display: block; 
    }

    .nav-container {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 70px; 
        left: 0;
        width: 100%;
        background-color: #412567;
        padding: 20px 0;
        border-bottom: 2px solid #5a338f;
    }

    .nav-container.active {
        display: flex;
    }

    .nav-link {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
.nav-link{
    display: flex;
    justify-content: space-around;
    gap: 32px;
}
.btn{
    width: 135px;
    height: 44px;
    
}
.image{
    background-image: url(./assets/hero-bg.png);
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
    
}
.radius-img{
    background-image: url(./assets/hero-circle.png);
    max-width: 350px;
    height: 350px;
    margin:auto;
}
.img-one img {
    margin: 70px 75px;
    text-align: start;

}
.msg{
    text-align: center;
    color: white;
    margin-bottom: 110px;
}
.msg h1{
    padding-top: 40px;
    font-size: 60px;
    font-weight: 900px;
}
.color{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}

.podcust{
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color:#1A0B2E;
     max-width: 1200px;
    }
    
.summary{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1A0B2E;
}
.podcust h1{
    font-size: 48 px;
    font-weight: bold;
    padding-top: 50px;

}
.podcust p{
    font-size: 16px;
    margin-bottom: 130px;
}
.summary h1{
    font-size: 48px;
    font-weight: black;
    color: #00FF88;

}
.summary p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 30px;
}




/* chooes Section */
.Chooes{
   max-width: 1600px;
  height: auto;
  background-color: #230E3D;
  margin: 0 auto;
}
.chooes-content{
  padding:120px 200px;
  color: white;
}
.title{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 20px;
}

.card{
  background-color: #351165;
  border: 1px solid #351165;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card img{
  width: 50px;
  height: 50px;
}

.card h4{
  font-size: 24px;
  padding: 16px 0;
}

.card p{
  font-size: 16px;
  font-weight: 400;
}

.card-1{
  grid-row: span 2;
}

.card-2, .card-3{
  grid-column: span 2;
  flex-direction: column;
  align-items: flex-start;
}
.card-4{
  grid-column: span 2;
}
 

.card-5{
  grid-column: span 1;
}





.class-3{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.class-1{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}
.class-1 h1{
    text-align: center;
    color: #dad1d1;


}
.class-2{
    border: 2px solid black;
    box-shadow: 10 rgb(107, 90, 115);
    max-width: 400px;
    border-radius: 40px;
}
.class-2 h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.class-2 p{
    font-size: 16px;
    color: #FFFFFF;
}
.one-file{
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;}
    
.two-file{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-top: 200px;
    
}



.two-file-1{
    display: flex;
    max-width: 1200px;
    border: 1px solid  #230E3D;
    border-radius: 20px;
    background-color: #230E3D ;
    margin: 0 auto;
    color: white;

}

.icons{
    background-image: url(./assets/footer-bg.png);
    max-width: 1600px;
    height: 412px;
    padding-top: 150px;
    margin:auto;
    text-align: center;
    color: aliceblue;
}


@media screen and (max-width:576px)
{
  .navbar{
    display: flex;
    justify-content: space-around;
    margin:auto;
    background-color:#1A0B2E}
}